.form{
    width: 100%;
    height:450px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 2px;
    flex-direction: column;
}
.inputBox
{
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
.centerForm
{
    align-items: center;
    justify-content: center;
    display: flex;
    position: flex;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.confirmButton{
    font-size: medium;
    width: 100%;
    min-height: fit-content;
}