/* .buttons,
.logout {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.button:focus{
  outline: none;
}

.logout{
  background-color: tomato;
}

.login{
  background-color: #002955;
  margin-right: 10px;
}

.register{
  background-color: #002955;
} */

/* .homeTitle{
  text-align: center;
}

.loginMsg{
  text-align: center;
} */

.picture{
  width: 500px;
  height: 400px;
  border-radius: 15px;
  margin-top: 150px;
  margin-left: 100px;
}

.font-sans{
  font-family: 'Open Sans', sans-serif;
}

.about{
  font-size: 40px;
  font-weight: 400;
  color: #002955;
  margin-top: 250px;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}



