.buttons,
.logout {
  /* margin-top: 2px; */
  /* margin-right: 0; */
}

.button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.button:focus{
  outline: none;
}

.logout{
  background-color: transparent;
  margin-right: 50px;
}

.login{
  background-color: #002955;
  margin-right: 50px;
}

.register{
  background-color: #002955;
  margin-right: 50px;
}

.homeButton{
  background-color:#002955;
  margin-left: 10px;
  font-weight: 400;
}

.nav{
  height: 8vh;
  background-color: #002955;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}